:root {
    --bg: #212121;
    --gray1: #434343;
    --gray2: #565656;
}
body {
    color: white;
}
.header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.container {
    padding: 15px;
}
input#listTextInput {
    color: white;
}
th.task {
    width: 85%;
}
th.remove {
    text-align: center;
}
td.removeButton {
    text-align: center;
    font-weight: bold;
}
span.cursorPointer {
    cursor: pointer;
    color: red;
}
input.text-white {
    color: white;
}